<div id='menu'>
	<%= link_to 'Back', '/admin/models' %>
	|
	<%= link_to "New #{@model}", url_for(:action => 'new', :model => @model.to_s) %>
</div>
<div id='body'>
<table>
	<thead>
		<tr>
			<% @columns.each do |column| %>
				<% unless column.primary %>
					<th><%= sort_link_to @model, column %></th>
				<% end %>
			<% end %>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @records.each do |record| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<% @columns.each do |column| %>
					<% unless column.primary %>
						<td><%= truncate(record.send(column.name).to_s, :length => 20) %></td>
					<% end %>
				<% end %>
				<td>
					<%= link_to 'Edit', :action => 'edit', :model => @model.to_s, :id => record.id %> 
					- 
					<%= link_to 'Delete', {:action => 'destroy', :model => @model.to_s, :id => record.id}, :method => :delete, :confirm => "Are you sure?" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @records %>
</div>