<div id='kitsune_record_header'>
	<h2><%= @model.admin_name %></h2>
	<div id='menu'>
		<%= link_to "New #{params[:id]}", :controller => 'admin/kitsune/records', :action => :new, :model_id => params[:model_id] %>
	</div>
</div>
<% @model.tabs.each do |key, value|%>
<%= link_to key, value %>
<% end %>
<table>
	<thead>
		<tr>
			<% @model.columns(:display).each do |column| %>
				<th><%= sort_link_to(@model, column) %></th>
			<% end %>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @records.each do |record| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<% @model.columns(:display).each do |column| %>
					<td><%= truncate(sanitize(record.send(column.name).to_s), :length => 20) %></td>
				<% end %>
				<td>
					<%= link_to 'Edit', :controller => 'admin/kitsune/records', :action => :edit, :model_id => params[:model_id], :id => record.id %>
					- 
					<%= link_to 'Delete', :controller => 'admin/kitsune/records', :model_id => params[:model_id], :id => record.id, :method => :delete, :confirm => "Are you sure?" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @records %>