<% form_for(@record, {:url => url_for_record(@record)}.merge(@model.form_options_for(@record))) do |form| %>
<fieldset>
<%= form.error_messages %>
<% @model.columns(:edit).each do |column| %>
	<div class='field'>
		<% unless params[column.name] %>
			<%= form.label column.name %>
			<%= form.send(@model.form_type(column), column.name, *@model.options_for(column)) %>
			<%= additional_content_for(@model, @record, column) %>
		<% else %>
			<%= form.hidden_field column.name, :value => params[column.name] %>
			<%= hidden_field_tag :redirect, column.name %>
			<%= hidden_field_tag :redirect_id, params[column.name] %>
		<% end %>
	</div>
<% end %>
<div class="submit_button">
	<button value="Save" type='submit' class="submitBtn"><span>Save</span></button>
</div>
</fieldset>
<% end %>
